body, ol, ul, h1, h2, h3, h4, h5, p, blockquote, th, td, dl, dt, dd, form, input, textarea, select {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    font: 1em/1.5 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    min-width: 320px;
    min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
}


input {
    outline: none;
}

var, em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-wrap: break-word;
    word-break: break-all;
}

i {
    font-style: normal;
}

/*ios-input-submit-button*/
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "ã€€";
    display: block;
    clear: both;
    height: 0;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.vm {
    vertical-align: middle;
}

.hidden {
    visibility: hidden;
}

.vat {
    vertical-align: top;
}

.vatb {
    vertical-align: text-bottom;
}

.vab {
    vertical-align: bottom;
}

.undis {
    display: none;
}

.dis {
    display: block;
}

.disib {
    display: inline-block;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.fixed {
    position: fixed;
}

.fn {
    font-weight: normal;
}

.fb {
    font-weight: bold;
}

.oh {
    overflow: hidden;
}

.wsn {
    white-space: nowrap;
}

.tid {
    text-indent: 2em;
}

.h100percent {
    height: 100%;
}

.f0 {
    font-size: 0px;
    font-size: 0rem;
}

.f8 {
    font-size: 8px;
    font-size: 0.5rem;
}

.f10 {
    font-size: 10px;
    font-size: 0.625rem;
}

.f11 {
    font-size: 11px;
    font-size: 0.6875rem;
}

.f12 {
    font-size: 12px;
    font-size: 0.75rem;
}

.f13 {
    font-size: 13px;
    font-size: 0.8125rem;
}

.f14 {
    font-size: 14px;
    font-size: 0.875rem;
}

.f15 {
    font-size: 15px;
    font-size: 0.9375rem;
}

.f16 {
    font-size: 16px;
    font-size: 1rem;
}

.f17 {
    font-size: 17px;
    font-size: 1.0625rem;
}

.f18 {
    font-size: 18px;
    font-size: 1.125rem;
}

.f20 {
    font-size: 20px;
    font-size: 1.25rem;
}

.f22 {
    font-size: 22px;
    font-size: 1.375rem;
}

.f24 {
    font-size: 24px;
    font-size: 1.5rem;
}

.f26 {
    font-size: 26px;
    font-size: 1.625rem;
}

.f28 {
    font-size: 28px;
    font-size: 1.75rem;
}

.f30 {
    font-size: 30px;
    font-size: 1.875rem;
}

.f40 {
    font-size: 40px;
    font-size: 2.5rem;
}

.m6 {
    margin: 6px;
}

.m8 {
    margin: 8px;
}

.m10 {
    margin: 10px;
}

.m12 {
    margin: 12px;
}

.m14 {
    margin: 14px;
}

.m16 {
    margin: 16px;
}

.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt16 {
    margin-top: 16px;
}

.mt40 {
    margin-top: 40px;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.ml16 {
    margin-left: 16px;
}

.ma0a {
    margin: 0 auto;
}

.malra {
    margin-left: auto;
    margin-right: auto;
}

.p6 {
    padding: 6px;
    padding: 0.375rem;
}

.p8 {
    padding: 8px;
    padding: 0.5rem;
}

.p10 {
    padding: 10px;
    padding: 0.625rem;
}

.p12 {
    padding: 12px;
    padding: 0.75rem;
}

.p14 {
    padding: 14px;
    padding: 0.875rem;
}

.p16 {
    padding: 16px;
    padding: 1rem;
}

.p20 {
    padding: 20px;
    padding: 1.125rem;
}

.pt5 {
    padding-top: 5px;
    padding-top: 0.3125rem;
}

.pr5 {
    padding-right: 5px;
    padding-right: 0.3125rem;
}

.pb5 {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem;
}

.pl5 {
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.pt10 {
    padding-top: 10px;
    padding-top: 0.625rem;
}

.pr10 {
    padding-right: 10px;
    padding-right: 0.625rem;
}

.pb10 {
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

.pl10 {
    padding-left: 10px;
    padding-left: 0.625rem;
}

.pt12 {
    padding-top: 12px;
    padding-top: 0.75rem;
}

.pr12 {
    padding-right: 12px;
    padding-right: 0.75rem;
}

.pb12 {
    padding-bottom: 12px;
    padding-bottom: 0.75rem;
}

.pl12 {
    padding-left: 12px;
    padding-left: 0.75rem;
}

.pt16 {
    padding-top: 16px;
    padding-top: 1rem;
}

.pr16 {
    padding-right: 16px;
    padding-right: 1rem;
}

.pb16 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
}

.pl16 {
    padding-left: 16px;
    padding-left: 1rem;
}

.l16 {
    line-height: 16px;
}

.l18 {
    line-height: 18px;
}

.l20 {
    line-height: 20px;
}

.l22 {
    line-height: 22px;
}

.l24 {
    line-height: 24px;
}

.l26 {
    line-height: 26px;
}

.l28 {
    line-height: 28px;
}

.l30 {
    line-height: 30px;
}

.l45 {
    line-height: 45px;
}

.l50 {
    line-height: 50px;
}

.b1 {
    border: 1px solid #a5a4a2;
}

.bn {
    border: none;
    border: 0;
}

.bt1 {
    border-top: 1px solid #a5a4a2;
}

.bb1 {
    border-bottom: 1px solid #a5a4a2;
}

.br1 {
    border-right: 1px solid #a5a4a2;
}

.bl1 {
    border-left: 1px solid #a5a4a2;
}

.b1w {
    border: 1px solid #FFF;
}

.bt1w {
    border-top: 1px solid #FFF;
}

.bb1w {
    border-bottom: 1px solid #FFF;
}

.br1w {
    border-right: 1px solid #FFF;
}

.bl1w {
    border-left: 1px solid #FFF;
}

.top0 {
    top: 0;
}

.bottom0 {
    bottom: 0;
}

.left0 {
    left: 0;
}

.right0 {
    right: 0;
}

.imax {
    max-width: 100%;
}

.imax640 {
    max-width: 640px;
}

.iwmax {
    width: 100%;
}

.iw90 {
    width: 90%;
}

.iw60 {
    width: 60%;
}

.iw80 {
    width: 80%;
}

.iw95 {
    width: 95%;
}

.ismall {
    width: 25%;
    height: 25%;
}

.imedium {
    width: 30%;
    height: 30%;
}

.colorb {
    color: #000;
}

.colorw {
    color: #fff;
}


.bgw {
    background-color: #fff;
}

.bgh {
    background-color: #f8f8f8;
}

.br5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.br10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.boxshadow {
    -moz-box-shadow: 2px 2px 5px #B5B5B5;
    -webkit-box-shadow: 2px 2px 5px #B5B5B5;
    box-shadow: 2px 2px 5px #B5B5B5;
}

.but {
    -webkit-appearance: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px !important;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #0096dc;
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.boxSizBr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fyh {
    font-family: 'Microsoft YaHei';
}